body {
    background-color: lightblue;
}

h1 {
    border-color: black;
}

ul li {}

img {
    font-size-adjust: auto;
    font-size: 66px;
    width: 50px;
    height: 50px;
}

picture {
    width: 100px;
    height: 100px;
}